Source: slaughter2
Section: perl
Priority: optional
Maintainer: Steve Kemp <steve@steve.org.uk>
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libmojolicious-perl,
 libtest-notabs-perl,
 libtest-pod-perl,
 libtest-strict-perl,
 libtext-template-perl,
 libwww-perl,
 perl,
 perl-base,
 perl-modules
Standards-Version: 3.9.4
Homepage: http://search.cpan.org/dist/App-Slaughter/
Vcs-Browser: https://github.com/skx/slaughter

Package: slaughter2-client
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends},
 libtext-template-perl,
 libwww-perl | libmojolicious-perl (>> 2.98),
 perl,
 perl-base,
 perl-modules
Provides: slaughter, slaughter2, libapp-slaughter-perl
Replaces: slaughter-client
Description: The Slaughter System Administration Utility.
 This package contains a client which will connect to a central server
 and fetch policies to execute.
 .
 The policies may be fetched via several different methods including:
 .
  * HTTP
 .
  * Local filesystem access.
 .
  * rsync
 .
  * Git/Mercurial/Subversion
 .
 The locally-executed policies are expressive perl scripts with an additional
 set of helper primitives which allow such actions as:
 .
  * Copying files.
 .
  * Manipulating system packages.
 .
  * Executing programs.
 .
  * Sending alerts.
 .
 There is no need for a centralised slaughter-server, except for that required
 to provide the policies.
